*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color:antiquewhite;
}

div{

    
    width: 100%;
    text-align: center;
    margin-top: 50px; 
    padding: 100px;
    border: solid 1px ;
    background-color: tomato;
    color: white;

}

#ot1{

    font-size: 20px;
    text-transform: capitalize;
    font-weight: bolder;
}

.card{


    width: 100%;
    line-height: 30px;
    text-shadow: white;
    justify-content: center;
}
